
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #FEFEFE;
  --foreground: #141C2F;
  --primary: #0079FE;
  --bluish-gray: #e8eaf0;
}


.dark {
  --background: #141C2F;
  --foreground: #FEFEFE;
  --primary: #0079FE;
  --bluish-gray: #1F2A48;
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }

}
.container {
  @apply md:max-w-[768px] mx-auto;
}

